<html xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <head>
        <title>Interface d'administration</title>

        <meta charset="utf-8"/>

        <!-- external css -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

        <!-- external scripts -->
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://code.jquery.com/jquery-3.1.0.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

        <!-- internal scripts -->
        <script type="text/javascript" src="login.js"></script>
        <script type="text/javascript" src="navbar.js"></script>
        <script type="text/javascript" src="management.js"></script>
    </head>
    <body>
        <!-- Navbar -->
        <nav id="navbar" class="navbar navbar-dark bg-dark" v-if="isLogged">
            <button class="btn btn-danger navbar-btn" v-on:click="logout">
                <i class="fas fa-sign-out-alt"></i>
            </button>
            <button class="btn btn-primary navbar-btn" v-on:click="logout" v-if="isAdmin">
                <i class="fas fa-plus"></i>
            </button>
        </nav>

        <!-- Login -->
        <div id="login" style="margin: 10% 20% 0 20%;" v-if="!isLogged">
            <div class="form-group">
                <label for="username">Nom d'utilisateur</label>
                <input type="text" class="form-control" id="username" name="username" aria-describedby="username" placeholder="Username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Mot de passe">
            </div>
            <br/>
            <button class="btn btn-primary" style="width: 100%;" v-on:click="login">Se connecter</button>
        </div>

        <!-- Management (table) -->
        <div id="management" v-if="isLogged" style="padding: 3%;">
            <center>
                <table id="contentTable" class="table table-striped table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>#</th>
                            <th>Marque</th>
                            <th>Modèle</th>
                            <th v-if="isAdmin">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in motorcycles"
                            v-bind:key="item.id">
                            <td v-on:click="selectItem(item.id)"
                                style="cursor: pointer; color: #2980b9; text-decoration: underline;">{{ item.id }}</td>
                            <td>{{ item.brand }}</td>
                            <td>{{ item.model }}</td>
                            <td v-if="isAdmin">
                                <button class="btn btn-primary"
                                        v-on:click="editItem(item.id)"><i class="far fa-edit"></i></button>
                                <button class="btn btn-danger"
                                        v-on:click="deleteItem(item.id)"><i class="fas fa-trash-alt"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </center>
        </div>

        <!-- Motorcycle details -->
        <div id="details" v-if="motorcycle" style="padding: 0 3% 3% 3%;">
            <h2>Détail de la moto #{{motorcycle.id}}</h2><br/>
            <h4>{{motorcycle.brand}}</h4>
            <h4>Modèle {{motorcycle.model}}</h4><br/>
            <h5>Charactéristiques de la moto</h5>
            Puissance fiscale: {{motorcycle.fiscalPower}} CV<br/>
            Type de roues: {{motorcycle.tireType}}
            <br/><br/>
            <h5>Charactéristiques du moteur</h5>
            Fabriquant: {{motorcycle.engine.brand}}<br/>
            Volume cylindre: {{motorcycle.engine.engineCylinder}} cm^3<br/>
            Puissance moteur: {{motorcycle.engine.enginePower}} CV<br/>
            Niveau d'huile: {{motorcycle.engine.oilQuantity}}<br/>
        </div>

        <!-- Motorcycle edition -->
        <div id="editMotorcycle" v-if="motorcycle" style="padding: 0 3% 3% 3%;">
            <h2>Edition de la moto #{{motorcycle.id}}</h2><br/>
            Marque: <input type="text" v-model="motorcycle.brand"/><br/>
            Modèle: <input type="text" v-model="motorcycle.model"/><br/><br/>
            <h5>Charactéristiques de la moto</h5>
            Puissance fiscale: <input type="text" v-model="motorcycle.fiscalPower"/>CV<br/>
            Type de roues: <input type="text" v-model="motorcycle.tireType"/><br/>
            <br/><br/>
            <h5>Charactéristiques du moteur</h5>
            Fabriquant: {{motorcycle.engine.brand}}<br/>
            Volume cylindre: {{motorcycle.engine.engineCylinder}} cm^3<br/>
            Puissance moteur: {{motorcycle.engine.enginePower}} CV<br/>
            Niveau d'huile: {{motorcycle.engine.oilQuantity}}<br/><br/>
            <button class="btn btn-lg btn-primary"
                    v-on:click="updateMotorcycle"><i class="far fa-save"></i></button>
        </div>
    </body>
</html>