<html xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <head>
        <title>Test page</title>

        <meta charset="utf-8"/>


        <!-- external css -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

        <!-- external scripts -->
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://code.jquery.com/jquery-3.1.0.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

        <!-- internal scripts -->
        <script type="text/javascript" src="login.js"></script>
        <script type="text/javascript" src="navbar.js"></script>
        <script type="text/javascript" src="management.js"></script>
    </head>
    <body>
        <nav id="navbar" class="navbar navbar-inverse" v-if="isLogged">
            <button class="btn btn-danger navbar-btn" v-on:click="logout">
                <i class="fas fa-sign-out-alt"></i>
            </button>
        </nav>
        <div id="login" style="margin: 10% 20% 0 20%;" v-if="!isLogged">
            <div class="form-group">
                <label for="username">Nom d'utilisateur</label>
                <input type="text" class="form-control" id="username" name="username" aria-describedby="username" placeholder="Username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Mot de passe">
            </div>
            <br/>
            <button class="btn btn-primary" style="width: 100%;" v-on:click="login">Se connecter</button>
        </div>

        <div id="management" v-if="isLogged">
            <center>
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>Id</th>
                            <th>Marque</th>
                            <th>Modèle</th>
                            <th v-if="isAdmin">Supprimer</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in motorcycles"
                            v-bind:key="item.id">
                            <td>{{ item.id }}</td>
                            <td>{{ item.brand }}</td>
                            <td>{{ item.model }}</td>
                            <td v-if="isAdmin"><button class="btn btn-danger"
                                                       v-on:click="deleteItem(item.id)"><i class="fas fa-trash-alt"></i></button></td>
                        </tr>
                    </tbody>
                </table>
            </center>
        </div>
    </body>
</html>